 <% if current_user %>
   <%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "btn btn btn-danger btn-top" %>
 <% else %>
   <%= button_to "Log in", new_user_session_path, method: :get, :class => "btn btn-primary btn-top" %>
   <%= button_to "Sign up", new_user_registration_path, method: :get, :class => "btn btn-warning btn-top" %>
 <% end %>


 <br />

<h1 class="new-ressie"><%= link_to 'Create a New Ressie', new_topic_path, :class => "new-ressie" %></h1>
<h3 style="color: #79c754; line-height: 30%;">It's <%= Date.today.to_s(:heading_date) %></h3>
<h2 style="line-height: 30%;"><%= "#{current_user.first_name} #{current_user.last_name}," if current_user %></h2>
<h2 style="line-height: 30%;">Did you honor your</h2> 
<h2 style="line-height: 30%;">resolutions today?</h2>
<br/>
<div>
  <% @topics.each do |topic| %>
    <div>
      <%= button_to upvote_topic_path(topic),
          method: :post, :class => "btn btn-success btn-size" do %>

       <h3><%= "#{topic.title}" %></h3>

      <% res=[0] %>
      <% topic.votes.each do |vote| %>
        <% res << "#{vote.created_at.strftime("%A, %b %d, %Y %H:%M:%S")}" %>
      <% end %>
    <hr/>
      <h6><%= "Last upvote: #{res.last}" %></h6>

     <hr/>
        <h3 style = "color: #98ddde;"><%= "#{topic.votes.count} success days!" %></h3>

        <i class="fa fa-pencil"></i>&nbsp;<%= link_to 'Edit', edit_topic_path(topic) %>
      <% end %>
      </div>
      <br/>
  <% end %>
</div>
