<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin+Sketch">
</head>
<body>
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      Voting_app 2015
    </div>
  </footer>

  <script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
